.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1921px){
  html { font-size: 20px; }
}

@media (max-width: 1920px){
  html { font-size: 20px; }
}

@media (max-width: 1600px){
  html { font-size: 18px; }
}

@media (max-width: 1366px){
  html { font-size: 16px; }
}

@media (max-width: 1280px){
  html { font-size: 14px; }
}

@media (max-width: 1024px){
  html { font-size: 12px; }
}

@media (max-width: 640px){
  html { font-size: 10px; }
}

@media (max-width: 414px){
  html { font-size: 8px; }
}

@media (max-width: 375px){
  html { font-size: 7px; }
}